<!DOCTYPE html> 
<head>
	<title>certificate1</title>
	<style>
		.yep{
			background-size: cover ;
			text-align: center ;
			color : rgb(111,80,90) ;
			border: 20px solid lightblue ;
            margin-left :200px ;
            margin-right : 200px ;
		}
	</style>
</head>

<body class = "yep" style="font-color : blue">
	<h1 style="margin-bottom: 80px  ;">CERTIFICATE</h1>
	<h2 style="margin-bottom: 60px  ;">This is to certify that </h2>
	<p style="margin-bottom: 50px ;"> {{ name }} has participated in {{ event }}</p>
	<h3 style="margin-bottom: 50px ;">and has secured = {{ position }} position </h3>
	<h3 style="text-align: right ;">signature<h3>
</body>