<head>
	<title>certificate2</title>
	<style>
		.yep{
			text-align: center ;
			color : rgb(111,80,90) ;
			border: 20px solid lightblue ;
            margin-left :200px ;
            margin-right : 200px ;
            height : 400px ;
            background-image : url("corner-47040_640.png") ;
            background-color: grey ;
		}
		.top{
			margin-top : 50px ;
		}
	</style>
</head>

<body>
	<div class = "yep" style="color : brown">
	<h1 class ="top" style=" margin-bottom: 100px  ;">CERTIFICATE</h1>
	<h2 style="margin-bottom: 40px  ;">This is to certify that </h2>
	<p style="margin-bottom: 40px ;"> {{ name }} has paticipated in {{ event }} </p>
	<h3 style="text-align: right ;">signature</h3>
	</div>
		<script>
			
		</script>
</body>